# CSV

In [5]:
import pandas as pd
import numpy as np
from io import StringIO, BytesIO

In [10]:
my_data=('col1,col2,col3\n'
            'a,b,c\n'
            'd,e,f\n'
            '1,2,3')

In [13]:
type(my_data)

str

In [11]:
pd.read_csv(StringIO(my_data))

  col1 col2 col3
0    a    b    c
1    d    e    f
2    1    2    3

In [15]:
# Reading from some specific columns
df = pd.read_csv(StringIO(my_data), usecols=['col1', 'col3'])

In [16]:
df

  col1 col3
0    a    c
1    d    f
2    1    3

In [17]:
df.to_csv('Example.csv')