# CSV

In [5]:
import pandas as pd
import numpy as np
from io import StringIO, BytesIO

In [10]:
my_data=('col1,col2,col3\n'
            'a,b,c\n'
            'd,e,f\n'
            '1,2,3')

In [13]:
type(my_data)

str

In [11]:
pd.read_csv(StringIO(my_data))

  col1 col2 col3
0    a    b    c
1    d    e    f
2    1    2    3

In [15]:
# Reading from some specific columns
df = pd.read_csv(StringIO(my_data), usecols=['col1', 'col3'])

In [16]:
df

  col1 col3
0    a    c
1    d    f
2    1    3

In [17]:
df.to_csv('Example.csv')

In [28]:
# Specifying the column datatypes
diff_data = ('z,y,x,w\n'
             '1,2,3,4\n'
             '5,6,7,8\n'
             '9,10,11,12')

In [30]:
df = pd.read_csv(StringIO(diff_data),dtype=int)

In [31]:
df

   z   y   x   w
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [32]:
df['z']

0    1
1    5
2    9
Name: z, dtype: int32

In [33]:
df['z'][2]

9

In [35]:
df = pd.read_csv(StringIO(diff_data),dtype=float)

In [36]:
df

     z     y     x     w
0  1.0   2.0   3.0   4.0
1  5.0   6.0   7.0   8.0
2  9.0  10.0  11.0  12.0

In [38]:
#Changing datatype for each column
df = pd.read_csv(StringIO(diff_data),dtype={'z':'int', 'y':'float','w':'int64'})

In [39]:
df

   z     y   x   w
0  1   2.0   3   4
1  5   6.0   7   8
2  9  10.0  11  12

In [42]:
df.dtypes

z      int32
y    float64
x      int64
w      int64
dtype: object

In [43]:
one_data = ('index,a,b,c\n'
           '9,football,basketball,6.2\n'
           '4,black,song,12')

In [45]:
pd.read_csv(StringIO(one_data))

   index         a           b     c
0      9  football  basketball   6.2
1      4     black        song  12.0

In [48]:
pd.read_csv(StringIO(one_data),index_col=0)

              a           b     c
index
9      football  basketball   6.2
4         black        song  12.0

In [49]:
one_data = ('a,b,c\n'
           '9,football,basketball\n'
           '4,black,song')

In [50]:
pd.read_csv(StringIO(one_data))

   a         b           c
0  9  football  basketball
1  4     black        song

In [53]:
pd.read_csv(StringIO(one_data),index_col=False)

   a         b           c
0  9  football  basketball
1  4     black        song